body {
    margin: 20px;
    padding: 0px;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size:12px;
}

form {
	width:400px;
}

select
{
	padding: 5px;
}

select, input{
	width:300px;
}

div.isPush
{
	padding-bottom:10px;
}

input[type='radio']
{
	width:20px;
}

input[type='checkbox']
{
	width: 20px;
	border:solid 1px red;
}

label
{
}

input.contents{
	
}

td{
	vertical-align:top;	
}

td.label
{
	padding-top:2px;
	width:120px;
}

table{
	
}

#container {
    margin: 30px;
}
